#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

bodySwiper {
  background: var(--color-principal);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: var(--corclara);
  margin: 0;
  padding: 0;
}

.swiper {
  width: 95vw;
  height: 60vh;
  margin: 35px auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #cea086 91%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: var(--color-principal);
}