.topo{
    margin-top: 20px;
    
}
.bg-btnfinalizar{
    background-color: #a83939 !important;
    border-radius: 05px !important;
    border: 1px solid #cea086 !important;
    color: white!important;
}

.bg-cadastrar-post{
    background-image: url("");
    }

    .form{
    color: #a83939!important;
    background-color: #cea086 !important;
    
  
    }
    