.bg-menu{
    /* linear-gradient é uma função que permite adicionar Grandiente/Degradê em uma reta no nosso Plano de Fundo */
    background: linear-gradient(36deg, #a83939 0%, #cea086 91%);
}
:root{
    --color-principal: linear-gradient(36deg, #a83939 0%, #cea086 91%);
    --color-invertida: linear-gradient(36deg, #cea086 0%, #a83939 91%);
    --corescura: #a83939;
    --corclara: #cea086;
}
.container{
    display: flex;
    justify-content: space-between;
}

/* !important indica que essa propriedade é mais importante que as Estilizações Padrões do Material UI */
.title{
    font-weight: bold!important;
}
.text-decorator-none{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
    color: #fff;
}

